<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745807517336-2rkpffkis8kdq2jnogapgoonvl987159.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745807517336-2rkpffkis8kdq2jnogapgoonvl987159</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>745807517336-ci7l7odp8aq196v1f366rpoc2q14hm0u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDYlBYEnHqQQEP9dBHFUkh4aHJNZk7g0k</string>
	<key>GCM_SENDER_ID</key>
	<string>745807517336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.memofac</string>
	<key>PROJECT_ID</key>
	<string>memofac-d6d5d</string>
	<key>STORAGE_BUCKET</key>
	<string>memofac-d6d5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745807517336:ios:1811a25162dbe3cdfd62ed</string>
	<key>DATABASE_URL</key>
	<string>https://memofac-d6d5d.firebaseio.com</string>
</dict>
</plist>